# --- Base de datos ---
MYSQL_DATABASE=moodle_prod_2026
MYSQL_USER=moodle_app_u
MYSQL_PASSWORD=TuPasswordSegura123!
MYSQL_ROOT_PASSWORD=TuRootPasswordSegura123!

# --- Administrador de Moodle ---
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASS=Admin      # Mínimo 8 caracteres, mayúsculas, números y símbolos
MOODLE_ADMIN_EMAIL=      # Email real del administrador

# --- URL pública de Moodle (con https://) ---
SERVICE_URL_NGINX=https://tu-dominio.com

